<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332313576086-8743j9iirtbm1lgr08sdr1rkqg510obr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332313576086-8743j9iirtbm1lgr08sdr1rkqg510obr</string>
	<key>API_KEY</key>
	<string>AIzaSyDKC-vxGondNON69lRSKo8DlKq1y0RXrLI</string>
	<key>GCM_SENDER_ID</key>
	<string>332313576086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arscreen-test-2</string>
	<key>PROJECT_ID</key>
	<string>disertatie-tavi</string>
	<key>STORAGE_BUCKET</key>
	<string>disertatie-tavi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332313576086:ios:6095fd6a86bba82529b8b7</string>
</dict>
</plist>